.copyright {
	color: white;
	font-size: 2rem;
}

.copyright__content {
	width: 325px;
	margin-bottom: 20px;
	padding: 16px;
	border-bottom: 1px solid rgb(131, 133, 32);
	text-align: center;
	@media (min-width: $desktop-breakpoint) {
		width: 700px;
		margin-bottom: 20px;
		padding: 16px;
		border-bottom: 1px solid rgb(131, 133, 32);
	}
}

.copyright__text {
	margin-left: 10px;
}
