.form {
	display: flex;
	flex-direction: column;
}

.form--addtask {
	flex-direction: column;
	margin-top: 10px;
	@media (min-width: $desktop-breakpoint) {
		flex-direction: row;
		padding: 16px;
	}
}

.form__error {
	margin: $m-size 0 0 0;
	font-style: italic;
	font-size: $font-size-large;
	font-weight: bold;
	color: rgb(134, 4, 4);
}

.form__error--addtask {
	color: rgb(134, 4, 4);
	text-align: center;
	font-size: 2rem;
	margin-bottom: 10px;

	@media (min-width: $desktop-breakpoint) {
		color: rgb(134, 4, 4);
		padding: 16px;
		font-size: 2.5rem;
	}
}

.form__error--register {
	font-size: 1.5rem;
	color: rgb(134, 4, 4);
	font-style: italic;
	font-weight: bold;

	@media (min-width: $desktop-breakpoint) {
		color: rgb(134, 4, 4);
		font-size: 2.5rem;
		padding: 0;
		font-style: italic;
		font-weight: bold;
	}
}

.form-buttons {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
