.form {
	display: flex;
	flex-direction: column;
}

.form--addtask {
	flex-direction: row;
	padding: 16px;
}

.form__error {
	margin: $m-size 0 0 0;
	font-style: italic;
	font-size: $font-size-large;
	font-weight: bold;
}

.form__error--addtask {
	color: rgb(134, 4, 4);
	padding: 16px;
	font-size: 2.5rem;
}

.form__error--register {
	@extend .form__error--addtask;
	padding: 0;
}

.form-buttons {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
