.header {
	color: white;
	overflow: hidden;
	margin: 0 0 16px;
	padding: 16px 0;
}

.header-content {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-bottom: 25px;
}

.header__image {
	width: 80px;
	height: 100px;
	@media (min-width: $desktop-breakpoint) {
		width: 100px;
	}
}

.header__title {
	font-size: 25px;
	margin: 0 0 0 10px;
	@media (min-width: $desktop-breakpoint) {
		font-size: 40px;
		margin: 0 0 3px;
	}
}

.header__subtitle {
	color: #d8e61c;
	font-size: 15px;
	font-weight: 500;
	margin: 0 0 0 10px;
	max-width: 100px;
	// text-align: center;
	@media (min-width: $desktop-breakpoint) {
		color: #d8e61c;
		font-size: $font-size-large;
		font-weight: 500;
		margin: 0;
	}
}

.header-user__content {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;

	@media (min-width: $desktop-breakpoint) {
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
	}
}

.user__link {
	color: white;
	font-size: 20px;

	@media (min-width: $desktop-breakpoint) {
		color: white;
		font-size: 30px;
	}
}

hr.hr {
	background: linear-gradient(to right, rgb(10, 94, 128) 0%, yellow 100%);
}
