.no-task-message {
	color: white;
	font-size: 2rem;
	padding: 16px;
	margin-top: 20px;
}

.option {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 16px;
}

.option__title {
	border: none;
	background: none;
	color: white;
	font-size: 2.2rem;
	font-family: 'Handlee', cursive;
	word-break: break-all;

	@media (min-width: $desktop-breakpoint) {
		border: none;
		background: none;
		color: white;
		font-size: 3rem;
		font-family: 'Handlee', cursive;
		word-break: break-all;
	}
}

.option__title--completed {
	text-decoration: line-through;
	color: red;
}
