.widget__header {
	color: yellow;
	font-size: 3rem;
	text-align: center;
	text-decoration: underline;
	margin-top: 0;
}

.widget__subtitle {
	color: white;
	font-size: 2rem;
	text-align: center;
}

.widget {
	padding: 0;
}
